*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: gainsboro;
}
.box{

    border: 1px solid black;
width: 20em;
margin:0 auto;
min-height:38em;
border-radius:7px;
box-shadow: 2px 2px 20px black;
transition: 0.5s ease;
}

.box:hover{
    background: #ff44;
}

.box1{
    border: 1px solid black;
    width:19em;
    margin: 0 auto;
    margin-top:2px;
    min-height: 21em;
}

.small-box{
    border: 1px solid black;
    width: 50px;
    margin: 0 auto;
    margin-top:10px;
}

input[type = text]{
    margin-left: 18px;
    width: 20em;
    margin-top: 15px;
    min-height: 20em;
    outline: none;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
   text-align: center;

}


h4{
    text-align: center;
    margin-top: 10px;
    font-size: 109%;
}

.box-content {
    margin-left:0;
 
}
.clear{
    margin-left:5px;


}
.clear .button{
    width: 55px;
    min-height: 5em;
    margin-top: 5px;
    padding: 20px;
    border: 1px double black;
    border-radius: 3px;
    background: #000000b4;
    outline: 1px solid gray;
    
}
.clear .button:hover{
    background:#777;
    opacity: 0.3;
}
#button{
    margin-bottom: 40px;
    padding:12px;
    margin: 7px;
    font-size: 22px;
    font-weight: 700;
    width:45px;
    border: none;
    border-radius:5px;
}
#button:hover{
    background:#f333;
}
.box-btn{
padding: 10px;
margin-left:0px;
margin-top:-5px;


}

.box-btn button{
    padding: 15px;
    padding-left: 20px;
    text-align: center;
    font-size: 14px;
    margin:15px;
    font-weight: 700;
    border: none;
    width: 22%;
    border-radius:5px;
    
}
.box-btn button:hover{
    background:#777;
}